// @import '../../../node_modules/bootstrap/dist/css/bootstrap.css';
@import "variables";
@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import '~vue-multiselect/dist/vue-multiselect.min.css';

// If you want to add something do it here
@import "custom";

// import some fonts
@import "nakleika-font";
.warningChangeAlert{ 
  background-color: var(--red);;
  text-align: center;
  font-size: 18px;
  color: white;
  padding: 15px;
  font-weight: bold;
}
