/node_modules
/public
/storage/*.key
/storage/logs
/storage/debugbar
/vendor
/laradock
npm-debug.log
yarn-error.log
.env
.env.dusk.*
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
.project
_ide_helper.php
.phpstorm.meta.php
composer.phar
*.code-workspace
/.vscode
.php_cs.cache
coverage.xml
/coverage
.phpunit.result.cache
.idea
yarn.lock
